{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/animate.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/icofont.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/meanmenu.css" %}"/>
        <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/magnific-popup.min.css" %}"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}"/>
        <link rel="stylesheet" href="{% static "css/dark.css" %}"/>
        <link rel="stylesheet" href="{% static "css/responsive.css" %}"/>
        <title>News Magazine</title>
        <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}" />
    </head>
    <body>
        {% block body %}
        
        
        {% endblock body %}
        <div class="go-top"><i class="icofont-swoosh-up"></i></div>
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "js/jquery.meanmenu.js" %}"></script>
        <script src="{% static "js/mixitup.min.js" %}"></script>
        <script src="{% static "js/owl.carousel.min.js" %}"></script>
        <script src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
        <script src="{% static "js/form-validator.min.js" %}"></script>
        <script src="{% static "js/contact-form-script.js" %}"></script>
        <script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
    </body>

</html>
