{% load static %}
<footer class="footer-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget">
                    <h3>About The Magazine</h3>
                    <div class="contact-info">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <ul>
                            <li><i class="icofont-google-map"></i> Noida, UP, India</li>
                            <li><i class="icofont-phone"></i> <a href="tel:+5872344521">+91-0000000000</a></li>
                            <li><i class="icofont-envelope"></i> <a href=""><span class="__cf_email__" data-cfemail="">elecomedia@gmail.com</span></a></li>
                        </ul>
                    </div>
                    <div class="connect-social">
                        <p>We're social, connect with us:</p>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/login/" target="_blank"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/login/" target="_blank"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/login" target="_blank"><i class="icofont-linkedin"></i></a>
                            </li>
                            <li>
                               <a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="icofont-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://rss.com/login/" target="_blank"><i class="icofont-rss"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget">
                    <h3>Latest News</h3>
                    <div class="footer-latest-news-list">
                        {% for i in foot_news %}
                        <div class="media latest-news-media align-items-center">
                            <a href=""> <img src="{{i.blog_image.url}}" style="height:50px, width:50px;" alt="image" /> </a>
                            <div class="content">
                                <ul>
                                    <li><i class="icofont-calendar"></i> {{i.created_at|date}}</li>
                                    <li>
                                        <a href=""><i class="icofont-comment"></i> 12</a>
                                    </li>
                                </ul>
                                <h3><a href="">{{i.title}}</a></h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget">
                    <h3>Twitter Feed</h3>
                    <div class="twitter-tweet-list">
                        <div class="single-tweet">
                            <i class="icofont-twitter"></i> <span>About 2 days ago</span>
                            <p>Conference Event WordPress Theme -> 2 New Home Added <a href="https://twitter.com/login">https://tt.co/Rn00zM5q7gY70</a></p>
                        </div>
                        <div class="single-tweet">
                            <i class="icofont-twitter"></i> <span>About 2 days ago</span>
                            <p>Conference Event WordPress Theme -> 2 New Home Added <a href="https://twitter.com/login">https://tt.co/Rn00zM5q7gY70</a></p>
                        </div>
                        <div class="single-tweet">
                            <i class="icofont-twitter"></i> <span>About 2 days ago</span>
                            <p>Conference Event WordPress Theme -> 2 New Home Added <a href="https://twitter.com/login">https://tt.co/Rn00zM5q7gY70</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <p>© Website is Proudly Owned by <a href="https://www.elecomedia.com" target="_blank">Elecomedia</a></p>
                </div>
                <div class="col-lg-6 col-md-12">
                    <ul class="footer-nav">
                        <li><a href="">Home</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Forums</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Advertisement</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>